.__products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2%;
  row-gap: 3%;
  padding-bottom: 61px;
  // background: darkgray;
  @include lg {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3%;
    row-gap: 3%;
  }
  @include md {
    display: block;
  }
  @include sm {
    display: block;
  }
}
