.__greenland-Wholesale-container {
  padding: 20px 2% 84px 2%;

  margin-top: 50px;
  margin-bottom: 40px;
  @include md {
    padding: 20px 8% 84px 8%;
  }
  @include sm {
    padding: 20px 8% 84px 8%;
  }
  .__greenland-Wholesale-h2 {
    margin-bottom: 20px;
  }
  .__greenland-Wholesale-p {
    margin-bottom: 47px;
    width: 55%;
    @include lg {
      width: 65%;
    }
    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
  }
  .__greenland-Wholesale-h1 {
    text-align: center;
    margin-bottom: 38px;
  }
  ._greenland-Wholesale-grid-sec {
    @include md {
      display: block;
    }
    @include sm {
      display: block;
    }
    ._greenland-Wholesale-grid {
      width: 65%;
      //   background: teal;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 5%;
      column-gap: 2%;
      @include lg {
        width: 62%;
        row-gap: 2%;
      }
      @include md {
        display: block;
        width: 100%;
      }
      @include sm {
        display: block;
        width: 100%;
      }
      ._greenland-Wholesale-grid-card {
        // background: tan;
        background-image: linear-gradient(129deg, #e2e4dc 0%, #eae4cc 100%);
        border-radius: 10px;
        padding: 10px 4.5%;
        @include md {
          padding: 10px 4.5% 20px 4.5%;
          margin-bottom: 20px;
        }
        @include sm {
          padding: 10px 4.5% 20px 4.5%;
          margin-bottom: 20px;
        }
        ._greenland-Wholesale-grid-card-h4 {
          margin-bottom: 25px;
          text-align: center;
          @include lg {
            margin-bottom: 20px;
          }
          @include md {
            margin-bottom: 10px;
          }
          @include sm {
            margin-bottom: 10px;
          }
        }
        ._greenland-Wholesale-grid-card-p {
          line-height: 21px;
          font-weight: 530;
          @include md {
            line-height: 13px;
            font-size: 10px;
          }
          @include sm {
            line-height: 13px;
            font-size: 10px;
          }
        }
      }
    }
    .__become-customer-container {
      width: 32%;
      //   background: teal;
      border-radius: 10px;
      padding: 20px 2%;
      @include lg {
        width: 36%;
      }
      @include md {
        width: 100%;
      }
      @include sm {
        width: 100%;
      }
      .__become-customer-h4 {
        margin-bottom: 109px;
        @include lg {
          margin-bottom: 80px;
        }
        @include md {
          margin-bottom: 40px;
          text-align: center;
        }
        @include sm {
          margin-bottom: 40px;
          text-align: center;
        }
      }
      .__become-customer-h3 {
        margin-bottom: 50px;
        text-align: center;
      }
      .__become-customer-btn-container {
        margin-bottom: 87px;
        .__become-customer-btn {
          width: 80%;
          padding: 2% 0px;
          border-radius: 5px;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
  }
}
