@import url("https://use.typekit.net/jtf2ewr.css");



//industry font

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-Light.eot');
    src: local('Industry Light'), local('Industry-Light'),
        url('../fonts/industry/Industry-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-Light.woff') format('woff'),
        url('../fonts/industry/Industry-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-Bold.eot');
    src: local('Industry Bold'), local('Industry-Bold'),
        url('../fonts/industry/Industry-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-Bold.woff') format('woff'),
        url('../fonts/industry/Industry-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-BoldItalic.eot');
    src: local('Industry Bold Italic'), local('Industry-BoldItalic'),
        url('../fonts/industry/Industry-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-BoldItalic.woff') format('woff'),
        url('../fonts/industry/Industry-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-LightItalic.eot');
    src: local('Industry Light Italic'), local('Industry-LightItalic'),
        url('../fonts/industry/Industry-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-LightItalic.woff') format('woff'),
        url('../fonts/industry/Industry-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Industry-Book';
    src: url('../fonts/industry/Industry-Book.eot');
    src: local('Industry Book'), local('Industry-Book'),
        url('../fonts/industry/Industry-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-Book.woff') format('woff'),
        url('../fonts/industry/Industry-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-BlackItalic.eot');
    src: local('Industry Black Italic'), local('Industry-BlackItalic'),
        url('../fonts/industry/Industry-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-BlackItalic.woff') format('woff'),
        url('../fonts/industry/Industry-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Industry-BookItalic';
    src: url('../fonts/industry/Industry-BookItalic.eot');
    src: local('Industry Book Italic'), local('Industry-BookItalic'),
        url('../fonts/industry/Industry-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-BookItalic.woff') format('woff'),
        url('../fonts/industry/Industry-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Industry-DemiItalic';
    src: url('../fonts/industry/Industry-DemiItalic.eot');
    src: local('Industry Demi Italic'), local('Industry-DemiItalic'),
        url('../fonts/industry/Industry-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-DemiItalic.woff') format('woff'),
        url('../fonts/industry/Industry-DemiItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-Black.eot');
    src: local('Industry Black'), local('Industry-Black'),
        url('../fonts/industry/Industry-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-Black.woff') format('woff'),
        url('../fonts/industry/Industry-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-Medium.eot');
    src: local('Industry Medium'), local('Industry-Medium'),
        url('../fonts/industry/Industry-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-Medium.woff') format('woff'),
        url('../fonts/industry/Industry-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Industry';
    src: url('../fonts/industry/Industry-MediumItalic.eot');
    src: local('Industry Medium Italic'), local('Industry-MediumItalic'),
        url('../fonts/industry/Industry-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-MediumItalic.woff') format('woff'),
        url('../fonts/industry/Industry-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Industry-Demi';
    src: url('../fonts/industry/Industry-Demi.eot');
    src: local('Industry Demi'), local('Industry-Demi'),
        url('../fonts/industry/Industry-Demi.eot?#iefix') format('embedded-opentype'),
        url('../fonts/industry/Industry-Demi.woff') format('woff'),
        url('../fonts/industry/Industry-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




// variable & functions
// @import 'function';
@import "variables";

// base and layout
@import "base";
@import "breakpoints";
@import "flex";

// colors
@import "colors";

// components( button, card, navbar)
@import "../components/navbar/navbar";
@import "../components/products/products";
@import "../components/product/product";
@import "../components/greenlandWholesale/greenlandWholesale";
@import "../components/fastAndReliable/fastAndReliable";
@import "../components/whyPickUp/whypickup";
@import "../components/footer/footer";
@import "../components/cartProduct/cartProduct";
@import "../components/customerInput/customerInput";
@import "../pages/home/home";
@import "../pages/checkout/checkOut";
@import "../pages/becomeCustomer/becomecustomer";
@import "../pages/cart/cart";
// @import 'component/card';
// @import "stylescomponent/button";
// @import "stylescomponent/forminput";
// @import "stylescomponent/searchinput";
@import "stylescomponent/container";
// @import "stylescomponent/_landingpage";
@import "stylescomponent/texts";
// @import "stylescomponent/buttonWithText";
// @import "stylescomponent/homecare";
// @import "stylescomponent/searchwithicon";
// @import "stylescomponent/ratingcard";
// @import "stylescomponent/careNavDropDown";
// @import "../pages/divisions/home-care/caregivers/caregivers";
// @import "../component/divisions/home-care/caregiver/caregiver";
// @import "../component/divisions/home-care/thin-card/thinCard";
// @import "../component/divisions/home-care/caregiver-details/caregiver-details";
// @import "../pages/divisions/home-care/profile/profile";
// @import "../pages/divisions/home-care/find-care/findCare";
// @import "../component/divisions/home-care/sign-in/sign-in-web";
// @import "stylescomponent/searchSlide";

// @import 'component/navbar';
// @import 'component/badge';

// utilities ( margin, paddind, opacity)
@import "utilities";
