// variable & functions
// @import 'function';
@import "variables";

// base and layout
@import "base";
@import "breakpoints";
@import "flex";

// colors
@import "colors";

// components( button, card, navbar)
@import "../components/navbar/navbar";
@import "../components/products/products";
@import "../components/product/product";
@import "../components/greenlandWholesale/greenlandWholesale";
@import "../components/fastAndReliable/fastAndReliable";
@import "../components/whyPickUp/whypickup";
@import "../components/footer/footer";
@import "../components/cartProduct/cartProduct";
@import "../components/customerInput/customerInput";
@import "../components/orderinformation/orderinformation";
@import "../pages/home/home";
@import "../pages/checkout/checkOut";
@import "../pages/orderConfirmation/orderconfirmation";
@import "../pages/becomeCustomer/becomecustomer";
@import "../pages/cart/cart";
@import "../pages/orderInfo/orderinfo";
// @import 'component/card';
// @import "stylescomponent/button";
// @import "stylescomponent/forminput";
// @import "stylescomponent/searchinput";
@import "stylescomponent/container";
// @import "stylescomponent/_landingpage";
@import "stylescomponent/texts";
// @import "stylescomponent/buttonWithText";
// @import "stylescomponent/homecare";
// @import "stylescomponent/searchwithicon";
// @import "stylescomponent/ratingcard";
// @import "stylescomponent/careNavDropDown";
// @import "../pages/divisions/home-care/caregivers/caregivers";
// @import "../component/divisions/home-care/caregiver/caregiver";
// @import "../component/divisions/home-care/thin-card/thinCard";
// @import "../component/divisions/home-care/caregiver-details/caregiver-details";
// @import "../pages/divisions/home-care/profile/profile";
// @import "../pages/divisions/home-care/find-care/findCare";
// @import "../component/divisions/home-care/sign-in/sign-in-web";
// @import "stylescomponent/searchSlide";

// @import 'component/navbar';
// @import 'component/badge';

// utilities ( margin, paddind, opacity)
@import "utilities";
