.__home-page {
  .__home-intro {
    // background: gray;
    padding-top: 50px;
    margin-bottom: 100px;
    .__home-intro-left {
      width: 55%;
      @include pad-pro {
        width: 54%;
      }
      @include lg {
        width: 54%;
      }
      @include md {
        width: 100%;
      }
      @include sm {
        width: 100%;
      }
      // background: ghostwhite;
      .__home-intro-h3 {
        margin-bottom: 20px;
      }
      .__home-intro-h1 {
        margin-bottom: 40px;
        width: 60%;
        // background: beige;
        @include lg {
          width: 80%;
        }
        @include md {
          width: 90%;
        }
        @include sm {
          width: 90%;
        }
      }
      .__home-intro-p {
        line-height: 27px;
        margin-bottom: 50px;
        font-weight: 400;
        opacity: 0.8;
        @include lg {
          line-height: 23px;
        }
        @include md {
          line-height: 25px;
        }
        @include sm {
          line-height: 25px;
        }
      }
      .__intro-btn-column {
        width: 85%;
        @include pad-pro {
          width: 90%;
        }
        @include lg {
          width: 100%;
        }
        @include md {
          width: 100%;
        }
        @include sm {
          width: 100%;
        }

        .__intro-btn {
          padding: 8px 6%;
          outline: none;
          border: none;
          border-radius: 5px;
          font-weight: 550;
          cursor: pointer;
          @include pad-pro {
            padding: 8px 5%;
          }
          @include lg {
            padding: 6px 4%;
          }
          @include md {
            padding: 6px 4%;
          }
          @include sm {
            padding: 6px 4%;
          }
        }
      }
    }
    .__home-intro-right {
      width: 40%;
      // background: ghostwhite;
      display: flex;
      justify-content: right;
      align-items: center;
      //   padding-top: 5px;
      @include pad-pro {
        width: 45%;
      }
      @include lg {
        width: 45%;
        align-items: flex-start;
      }
      @include md {
        display: none;
      }
      @include sm {
        display: none;
      }
      .__home-intro-right-img-container {
        // height: 200px;
        width: 80%;
        height: 380px;
        border-radius: 50%;
        // background: yellowgreen;
        @include pad-pro {
          width: 90%;
        }
        @include lg {
          width: 90%;
          height: 300px;
        }

        .__home-intro-right-img {
          border-radius: 50%;
          height: 100%;
          //   display: none;
        }
      }
    }
  }
}
