.__whypickup-container {
  padding: 71px 2% 81px 2%;
  margin-top: 40px;
  margin-bottom: 121px;
  @include md {
    padding: 30px 8% 84px 8%;
  }
  @include sm {
    padding: 30px 8% 84px 8%;
  }
  .__whypickup-p {
    width: 53%;
    line-height: 24px;
    margin-bottom: 17px;
    @include lg {
      width: 70%;
    }
    @include md {
      width: 100%;
      line-height: 18px;
    }
    @include sm {
      width: 100%;
      line-height: 18px;
    }
  }
  .__whypickup-h4 {
    margin-bottom: 30px;
  }
  .__whypickup-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 63%;
    column-gap: 18%;
    // background: gainsboro;
    row-gap: 25px;
    margin-bottom: 50px;
    @include lg {
      width: 73%;
    }
    @include md {
      width: 100%;
    }
    @include sm {
      width: 100%;
    }
    .__whypickup-grid-card {
      //   background: teal;
      .__whypickup-grid-card-h4 {
        margin-bottom: 5px;
      }
    }
  }
  .__whypickup-btn {
    outline: none;
    border: none;
    border-radius: 5px;
    width: 20%;
    padding: 8px 0px;
    cursor: pointer;
    @include lg {
      padding: 6px 0px;
      width: 40%;
    }
    @include md {
      width: 100%;
      padding: 6px 0px;
    }
    @include sm {
      width: 100%;
      padding: 6px 0px;
    }
  }
}
