.__footer-container {
  padding: 20px 10% 37px 10%;


  .__footer-container-h4 {
    text-align: center;
    margin-bottom: 145px;
  }
  .__footer-container-h1 {
	  font-family: "Aviano";
    font-size: 150px;
    // font-weight: 500;

    margin-bottom: 152px;
    text-align: center;
  }
  .__footer-navigation-container {
    margin-bottom: 42px;
    .__footer-navigation-logo-con {
      display: block;
      .__footer-navigation-img-con {
        width: 84px;
        height: 58px;
        // background: #6060a4;
        position: relative;

        .__footer-navigation-img-sub-text {
          position: absolute;
          bottom: 6px;
          left: 5px;
        }
      }
    }
    .__footer-navigation-service-con {
      display: block;
      .__footer-navigation-service-h5 {
        margin-bottom: 15px;
      }
      .__footer-navigation-service-link-con {
        display: block;
        .__footer-navigation-service-link {
          margin-bottom: 5px;
        }
      }
    }
    .__footer-navigation-contact-con {
      display: block;
      text-align: right;

      .__footer-navigation-contact-h5 {
        margin-bottom: 15px;
      }
      .__footer-navigation-contact-link-con {
        display: block;
        .__footer-navigation-contact-link {
          margin-bottom: 5px;
        }
      }
    }
    .__footer-navigation-follow-con {
      display: block;
      text-align: right;
      .__footer-navigation-follow-h5 {
        margin-bottom: 15px;
      }
      .__footer-navigation-follow-link-con {
        display: block;
        .__footer-navigation-follow-link {
          margin-bottom: 5px;
        }
      }
    }
  }
  .__footer-copy-right {
    text-align: center;
  }
}
