.__cart-product-card {
  //   background: darkgray;
  width: 100%;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  .__cart-product-card-img-con {
    width: 97px;
    height: 78px;
    background: teal;
  }
  .__cart-product-card-details {
    width: 65%;
    // background: deepskyblue;
    margin-bottom: 86px;
    .__cart-product-card-detail-h3 {
      margin-bottom: 30px;
    }
    .__cart-product-card-detail-p {
      margin-bottom: 10px;
      opacity: 0.6;
    }
    .__cart-product-card-detail-price {
      text-transform: capitalize;
      margin-bottom: 17px;
    }
    .__cart-product-card-detail-qty-and-remove-con {
      gap: 3%;
      align-items: baseline;
      .__cart-product-card-detail-qty-con {
        border: 1px solid white;
        width: 40%;
        padding: 1% 6%;
        opacity: 0.5;
        .__cart-product-card-detail-qty-btn {
          background: none;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
      .__cart-product-card-detail-remove-btn {
        background: none;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        &::before {
          content: "";
          background: white;
          width: 80%;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 6px;
        }
      }
    }
  }
  .__cart-product-card-total-price {
    align-self: center;
  }
}
